:root {
    --branding-color:#6c63ff;
    --heading-font-family: serif;
    --secondary-color: #272142;
}

.hero h1 {
    color: black;
    font-weight: bold;
    font-family: var(--heading-font-family);
    font-size: 96px;
}

.hero {
    background-color: #f9f7fe;
    text-align: center;
    padding: 120px 20px;
}
.hero p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: var(--secondary-color);
}
.hero h2 {
    font-weight: normal;
    font-size: 24px;
    line-height: 2;
}
.btn-branding {
    color: white;
    background-color: var(--branding-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}
@media (max-width: 900px) {
h1 {
    font-size: 44px;
    line-height: 56px;
}
h2 {
font-size: 44px;
}
.hero {
    padding: 80px 20px;
}
.about-section {
    text-align: center;
    padding: 0;
}
}

.about-section h1 {
font-size: 64px;
line-height: 80px;
}
.about-section h2 {
font-size: 18px;
}
.about-section {
    padding: 120px 20px;
}
.about-section-content {
margin: 30px;
}